# Ignore node_modules folder
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore build output
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor/project specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore coverage reports
coverage/
.nyc_output/

# Ignore package-lock if you want (optional)
# Uncomment the line below if you want to ignore `package-lock.json` as well
# package-lock.json
